{% extends 'index.html' %}
{% load static %}
{% block title%}About {% endblock%}
{% block main%}
<style type="text/css">
  #about{
    color:;
  }

  #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>


<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">




<div class="col-sm-6 offset-sm-3" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
     Want to know about us ?
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
    <p class="card-text">
      HGreat is a coding school that offers virtual part-time programs in Data Science and Software Development to students in emerging economies. HGreat is categorically known for its one-on-one technical mentorship model where students are given personalised support by experts throughout the program.
      <br>
      Our financing options allow students to defer 50% of their tuition through income-share agreements. Students paying upfront also have a 50% money-back guarantee if they do not get a job in 12 months on graduation.
  </p>
  <p>
    <strong>For Companies/Employers:</strong> You can partner with HGreat to offer internships to budding tech talent, offer real-world projects to engage students and reduce your developers’ workload, and most importantly hire high-achieving graduates who are looking to start their tech careers. Contact us for more info.
</p>
<p>
    <strong>For Professionals:</strong> As HGreat seeks to grow its reach across Africa, we are in constant search for technical mentors (Data Science and Software Development) and business/marketing professionals. Work with us today.
</p>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>
<footer sty class="container-fluid bg-success tex-center p-2 mt-5  "> 
  @copyright         ;2024 || Devloped By Ian Chebii 
</footer>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>

</html>













{%endblock%}

