{% extends 'index.html' %}
{% load static %}
{% block title%} Home{% endblock%}
{% block main%} 
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'comment/css/comment.css' %}">
<style type="text/css">
    #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>




<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">


<div class="col-sm-12" style="padding-top: 60px">
<div id="content">
    <div class="col-sm-12">

<center><h2 style="color: #099738">Code your future</h2></center>



<center><img src="{% static 'img/CodingClass.jpg' %}" alt="codding101" class="card-img-top"></center>




<br>
<br>
<div class="row">
<div class="col-md-4"></div>
<center><h2 class="success">Our Head of Departments</h2></center>   
</div>

<div class="row"> 
    <div class="col-md-3">

      <div class="card">
        <img  style="max-height: 350px; min-height:250px" src="{% static 'img/men4.jpg' %}" alt="moses" class="card-img-top">
                    <div class="card-body bg-success">
                        <h5 class="card-title">Lativa Janathan, H.O.D Android & Network</h5>
                        <p class="card-text">Having 3 years of Android development in corporate world, Natalia had a long time ago dream of Teaching people, as soon as our platform was established.</p>
                    </div>
                </div> 

    </div> 
      <div class="col-md-3"> 
          <div class="card">
        <img style="max-height: 350px; min-height:250px" src="{% static 'img/men3.jpg' %}" alt="moses"  class="card-img-top">
                    <div class="card-body bg-success">
                        <h5 class="card-title ">Kemboi Rigan, H.O.D of Django & ML</h5>
                        <p class="card-text">Kemboi Regan, having coding in Django Python Web Framework with combination of Machine Learning in order to solve people's problem by developing powerfully intelligent systems.</p>
                    </div>
                </div> 
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="{% static 'img/mem2.jpg' %}" alt="moses" style="max-height: 350px; min-height:250px" class="card-img-top">
                    <div class="card-body bg-success">
                        <h5 class="card-title bg-success">Jonson Hosta, H.O.D of PHP & Linux</h5>
                        <p class="card-text">Jonson Hosta, has beening working in big Internet Service Provider. Her experience came after given administration role of all servers owned Safaricom</p>
                    </div>
                </div> 
        
    </div> 

     <div class="col-md-3"> 
          <div class="card">
        <img src="{% static 'img/mdn1.jpg' %}" alt="moses"  style="max-height: 350px; min-height:250px" class="card-img-top">
                    <div class="card-body light bg-success">
                        <h5 class="card-title">Ronal Ngala, H.O.D of Graphics & Animation</h5>
                        <p class="card-text">Ronal Ngala, has beening working in Citizen TV Kenya.</p>
                    </div>
                </div> 
    </div>

</div>
<footer sty class="container-fluid bg-success tex-center p-2 mt-5  "> 
    @copyright         ;2024 || Devloped By Ian Chebii 
 </footer>
{%endblock%}


      









  
    
</body>

</html>





</body>
</html>


